@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dosis:wght@200..800&display=swap');

:root {
    --primary-color: #001a62;
    --secondary-color: #374e8f;
    --accent-color: #9aa4bf;
    --additional-accent-color: #cdd1de;
    --heading-font: 'Concert One', serif;
    --paragraph-font: 'Dosis', serif;
    --navigation-background-color: #cdd1de;
    --navigation-link-color: #6776a0;
    --navigation-hover-link-color: #cdd1de;
    --navigation-hover-background-color: #001a62;
}
body {
    font-family: var(--paragraph-font);
    max-width: 860px;
    padding: 20px;
    background-color: #677cb5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent-color);
    display: grid;
	grid-template-columns: 25% 1fr;
}
header > img {
    display: grid;
    justify-self: center;
}
nav {
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--navigation-link-color);
}
nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #cdd1de;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
footer p {
    text-align: center;
    grid-column-start: 2;
    color: #000;
}
footer div {
    display: flex;
    justify-content:center;
    align-items: center;
    grid-column-start:3;
    gap: 1rem;
}

.image-display{
    margin-bottom: 5rem;
    padding: 4rem;
    text-align: center;
}

.image-display h2 {
    margin: 2em;
}

.image-display div {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer img {
    text-decoration: none;
    width: 25px;
}
figure img {
    height: 150px;
}

.hero {
    position: relative;
    margin: 10px auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 10%;
    right: 10%;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 4px;
}

.hero article {
    position: absolute;
    top: 150px;
    left: 10%;
    right: 10%;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
}

.hero article img {
    width: 40%;
    height: auto;
    padding: 1rem;
}
.hero h1, .hero article {
    position: absolute;

    
}
.sociallinks {
    display: flex;
    justify-content: center;
    gap: 0;
}

.sociallinks img {
    width: 35px;
    height: 35px;
}
.history {
    display: inline-block;
    padding: 4rem;
}
.history div {
    display: flex;
}

.history img {
    max-width: 250px;
}

.history h2{
    padding: 10px;
    text-align: center;
    margin: 1em;
}