@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dosis:wght@200..800&display=swap');


:root {
    --primary-color: #001a62;
    --secondary-color: #6776a0;
    --accent-color: #9aa4bf;
    --additional-accent-color: #cdd1de;
    --heading-font: 'Concert One', serif;
    --paragraph-font: 'Dosis', serif;
    --navigation-background-color: #cdd1de;
    --navigation-link-color: #6776a0;
    --navigation-hover-link-color: #cdd1de;
    --navigation-hover-background-color: #001a62;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--navigation-link-color);
}
nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}